﻿@page
@model BankLogModel
@using Database;
@{
    ViewData["Title"] = "Bank log page";
    ViewData["User"] = User.Identity.Name;

    string printToPage() {
        if(User.Identity.IsAuthenticated){
            return "Please, log out!";
        }

        if(User.Identity.Name != null && UserDatabase.usernames.ContainsKey(User.Identity.Name)) {
            return "Please, log out!";
        }

        string full = "";
        foreach(int acc in DatabaseConnection.getAccounts()) {
            Stack<DbLog> log = DatabaseConnection.getTransferLog(acc);
            string s = "<h2 class='display-4'>User Account: " + acc + "</h2><ul class='list-group'>"; 
            foreach(DbLog l in log) {
                s += "<li class='list-group-item'>Action: <strong>" + l.info + "</strong> | Change in money: <a class=" 
                + (l.money >= 0 ? "'text-success'" : "'text-danger'") + ">" + (l.money >= 0 ? ("+" + l.money) : l.money + "") 
                + "</a> | Time and Date of action: " + l.time.ToString() + "</li>";
            }
            s += "</ul></br>";
            full += s;
        }
        return full;
    }
}

<div class="text-center">
    <h1 class="display-3">Your bank Log</h1>
    @Html.Raw(printToPage())
</div>
