﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please, log in</h1>
    
    <form method="post" class="text-left">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" asp-for="customer.Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" asp-for="customer.Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" asp-page-handler="Login" class="btn btn-primary">Submit</button>
    </form>
</div>
