﻿@page
@model DepositModel
@{
    ViewData["Title"] = "Deposit page";
}

<div class="text-center">
    <h1 class="display-4">Deposit</h1>

    <form method="post" class="text-left">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label >Amount of money</label>
            <input asp-for="Money" class="form-control" placeholder="5, 10, ...">
        </div>
        <button type="submit" asp-page-handler="Deposit" class="btn btn-primary">Submit</button>
    </form>
</div>
