@page
@model BankIndexModel
@using Database;
@using System.Web;
@{
    ViewData["Title"] = "Bank page";
    ViewData["User"] = User.Identity.Name;

    string printToPage() {
        if(!User.Identity.IsAuthenticated){
            return "";
        }

        if(!UserDatabase.usernames.ContainsKey(User.Identity.Name)) {
            return "";
        }

        Stack<DbLog> log = DatabaseConnection.getTransferLog(UserDatabase.usernames[User.Identity.Name].accountId);
        string s = "<ul class='list-group'>"; 
        foreach(DbLog l in log) {
            s += "<li class='list-group-item'>Action: <strong>" + l.info + "</strong> | Change in money: <a class=" 
            + (l.money >= 0 ? "'text-success'" : "'text-danger'") + ">" + (l.money >= 0 ? ("+" + l.money) : l.money + "") 
            + "</a> | Time and Date of action: " + l.time.ToString() + "</li>";
        }
        s += "</ul>";
        return s;
    }
}

<div class="text-center">
    <h1 class="display-4">Your bank Log</h1>
    @Html.Raw(printToPage())
</div>