﻿@page
@model SendModel
@{
    ViewData["Title"] = "Send page";
}

<div class="text-center">
    <h1 class="display-4">Send money</h1>

    <form method="post" class="text-left">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label >Amount of money</label>
            <input asp-for="Money" class="form-control" placeholder="5, 10, ...">
        </div>
        <div class="form-group">
            <label >Account Number</label>
            <input asp-for="AccountId" class="form-control" placeholder="1, 2, 3, ...">
        </div>
        <button type="submit" asp-page-handler="Withdraw" class="btn btn-primary">Submit</button>
    </form>
</div>
